@import url(reset.css);

#main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(100, 194, 237);
}

.board_title {
  font-size: 80px;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  font-family: sans-serif;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
}

.board {
  width: calc(100% - 35px);
  height: calc(100% - 35px);
  border-radius: 20px;
  background-color: rgb(100, 194, 237);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(91, 223, 216);
  box-shadow: 0px 1px 0px 2px rgba(0, 0, 0, 0.3);
}

.board_result {
  width: 80%;
  height: 70%;
  border-radius: 15px;
  background-color: rgb(30, 150, 206);
  display: flex;
  justify-content: center;
  align-items: center;
}

.board_result > div {
  width: 45%;
  height: 90%;
  background-color: rgb(255, 255, 255);
  margin: 10px;
}

.board_result_right,
.board_result_left {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board_btns {
  width: 600px;
  height: 90px;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(198, 236, 230);
}

.board_btns > button {
  width: 70px;
  height: 70px;
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  font-size: 50px;
  color: rgb(255, 255, 255);
}

.board_btns i:hover {
  cursor: pointer;
  color: rgb(0, 0, 0);
}

.user_title,
.opponent_title {
  margin: 10px;
  font-size: 100px;
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: aqua;
}

.user_img {
  width: 350px;
  height: 350px;
}

.opponet_img {
  width: 350px;
  height: 350px;
}
