@import "reset.css";
@import "./component/user.css";
@import "./component/board.css";
@import "./media/media.css";

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(100, 194, 237);
}
